<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <h1>
      <%= title %>
    </h1>
    <p>
      speak your mind freely
    </p>
  </header>
  <div class="messages__wrapper">
    <% messages.forEach((message)=> { %>
      <div class="message__card">
        <h2>
          <%= message.user %>
        </h2>
        <p>
          <%= message.text %>
        </p>
        <p>
          <%= message.added %>
        </p>
      </div>
      <% }) %>
  </div>

</body>

</html>